body{
    font-family : 'Courgette', cursive;
    background-color: blueviolet;
    
}

.container{
    height :330px;
    width : 1000px;
    position : absolute;
    top :50%;
    bottom : 50%;
    transform : translateX(40%) translateY(-50%);
    background-color: lavender;
    padding:20px;
    border: 1px solid lavenderblush;
    box-shadow:  0 0 8px 3px #fff;
    align-content: center;

}

.title{
    padding-top:20px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    color:black;

}

.question{
    padding : 32px;
    text-align : left;
    font-size: 25px;
    color:black;
}

.option{
   font-size: 22px;
   color: black;
   padding-left: 35px;
}

.next-btn{
     
    border : none;
    outline:none;
    width:100px;
    height : 35px;
    border-radius : 20px;
    cursor : pointer;
    float : right;
    margin : 60px;
}
.next-btn:hover{
    color: white;
    background:blueviolet;
}

.result{
    height: 100px;
    text-align: center;
    font-size: 75px;
    
}
